@import "tailwindcss";

/* Tooltip styling */
.maplibregl-popup-content {
    background-color: #FFFAE7;
    color: black;
    border-radius: 8px;
    padding: 15px;
}

.maplibregl-popup-tip {
    border-top-color: #FFFAE7 !important;
}